* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none !important;
    /*     color: #fff !important; */
}


div.header.container {
    margin-left: 0px; 
}



div.container-fluid.container-header {

}

section.logo-txt {
    display: flex;
    justify-content: center;

    margin-right: 20vw;
    margin-left: 15vw;
    

}
img.logo-txt {
    display: flex;
    width: 0.5vh !important;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    display: flex !important;
    justify-content: center !important;
    --bs-navbar-padding-y: 0 !important;
    margin-right: 0% !important;
    width: 100vw !important;
    background: linear-gradient(135deg, LavenderBlush 50%, LightCyan);
}

img {
/*     display: flex !important; */
    margin-left: 25% !important;

}

.img-thumbnail{
    display: flex !important;
    margin: 0 !important;
    padding: 0 !important;
  /*   width: 180vh !important; */

}

.navbar-brand {
    margin-right:  !important;
    width: 400px !important;
    /*  color: #fff !important; */
}

a.nav-link {
   /*  color: #fff !important; */
}

li.nav-item {
    margin-right: 20px !important;


}

.container-main {
    display: flex !important;
    justify-content: center;
  /*   margin-top: 10vh; */
    width: 100vw !important;
    margin: 0;
    padding: 0;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem !important;
}

div.collapse.navbar-collapse {
    margin-left: 5vw;
}